@font-face {
  font-family: 'arciformregular';
  src: url('/fonts/arciform-webfont.eot');
  src: url('/fonts/arciform-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/arciform-webfont.woff2') format('woff2'),
       url('/fonts/arciform-webfont.woff') format('woff'),
       url('/fonts/arciform-webfont.ttf') format('truetype'),
       url('/fonts/arciform-webfont.svg#arciformregular') format('svg');
  font-weight: normal;
  font-style: normal;
}